.menu__btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute; /* Зробимо позицію абсолютною */
  top: 20px; /* Розміщуємо хрестик зверху */
  left: 20px; /* Розміщуємо хрестик зліва */
  z-index: 3; /* Щоб хрестик був вище за сірий фон */
}

.menu__btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: 0.8s;
}

.menu__btn .bar:nth-child(2) {
  top: calc(50% - 9px);
}

.menu__btn .bar:nth-child(3) {
  top: calc(50% + 9px);
}

.menu__btn.active .bar:nth-child(1) {
  display: none;
}

.menu__btn.active .bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu__btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.list.active {
  background-color: rgb(91, 86, 86);
  z-index: 2;
  width: 100%;
  height: 100vh; /* Фон на весь екран */
  position: fixed; /* Закріпимо фон на весь екран */
  top: 0;
  left: 0;
  transition: 1.2s;
  display: flex;
  flex-direction: column;
}

.list.active a {
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid white;
  max-width: 80%;
  padding: 8px;
  animation: iteman 1.5s forwards, itemop 1.5s forwards;
  animation-duration: 1.5s;
}


.list {
    display: none;
    gap: 60px;
    list-style: none;
    color: var(--white-color);
    font-size: 25px;
    padding-top: 50px;
  }
  .section {
    background-size: cover;
    width: 100%;
    height: 100vh;

    z-index: 1;
  }
  

  .hero {
    display: flex;

  }
  @keyframes iteman {
    0% {
      transform: translateX(100%); /* Сдвигаем вправо */
    }
    100% {
      transform: translateX(0); /* Возвращаем на место */
    }
  }
  
  @keyframes itemop {
    0% {
      opacity: 0;
      font-size: 0;
      border-bottom: none;
    }
    70% {
      opacity: 0.1;
      font-size: 0;
      border-bottom: none;
    }
    80% {
      opacity: 0.4;
      max-width: 1%;
      width: 0;
    }
    90% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
      max-width: 80%;
    }
  }
  .title {
    font-size: 24px;
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .text {
    font-size: 22px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .btn {
    width: 210px;
    height:40px;
    background-color: rgba(255, 181, 72, 1);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
  }
  
  .main {
    padding-top: 250px;
  }
  
  .story{
    justify-content: center;
    display: flex;
    padding-top: 350px;
  }
  .story__text {
    color: var(--white-color);
    position: relative;
  }

  .story__text::after{
    content: "";
    background-image: url(/src/static/scroll-down.svg);
    position: absolute;
    width: 23px;
    height: 10px;
    left: 16px;
    top: 25px;
    animation: scroll ease 1s infinite

  }

  .logo{
    padding-left: 10px;
    display: none;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(10px);
    }


    100% {
      transform: translateY(0);
    }
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 48px;
    }
    
    .text {
      font-size: 25px;
    }

    .btn {
      width: 260px;
      height:50px;

    }
}