.features{
    background-image: url(/src/static/bgimage3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.features::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
    background: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(0,0,0,1) 100%);
}

.wrapper{
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    align-items: center;
}


.inner{
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: flex-start;
}

.list h2{
    color: rgba(255, 181, 72, 1);
    list-style: none;
    font-size: 25px;
}


.list{
    color: white;
    max-width: 350px;
    font-size: 15px;
    list-style: none;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__text{
    text-align: left;
    font-size: 17px;
}  

.title__text{
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
}

.title{
    color: white;
    padding-bottom: 50px;
    font-size: 55px;
    font-weight: 300;
    font-family: "Bebas Neue", sans-serif
}