:root {
  --white-color: #fff;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1240px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}


  
